/**
 * START --- SETUP TAILWINDCSS EDIT
 *
 * `yarn rw setup ui tailwindcss` placed these imports here
 * to inject Tailwind's styles into your CSS.
 * For more information, see: https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 */
/*@import 'tailwindcss/base';*/
/*@import 'tailwindcss/components';*/
/*@import 'tailwindcss/utilities';*/

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .key {
    @apply uppercase w-12 h-12 rounded border drop-shadow-[2px_2px_#1d4ed8] font-bold bg-blue-400 border-blue-700 hover:border-blue-900 m-2 hover:shadow-inner hover:shadow-blue-500 hover:drop-shadow-none;
  }
}

/**
 * END --- SETUP TAILWINDCSS EDIT
 */

/**
 * START --- CONNECTING FONTS
**/

@font-face {
  src: url("fonts/chomsky/Chomsky.otf") format("opentype");
  font-family: 'chomsky';
}

@font-face {
  src: url("fonts/Gruppo/Gruppo-Regular.ttf") format("truetype");
  font-family: 'gruppo';
}

@font-face {
  src: url("fonts/Playfair/PlayfairDisplay-VariableFont_wght.ttf") format("truetype");
  font-family: 'playfair';
}

@font-face {
  src: url("fonts/Rubik_Bubbles/RubikBubbles-Regular.ttf") format("truetype");
  font-family: 'rubik';
}

/**
 * END --- CONNECTING FONTS
**/
